page-login {
    ion-content{
        background: url(../assets/imgs/logbg.png);
        background-size: cover;
        .box{
            ion-item{
                background: transparent;
                ion-icon{
                    color:#d1dad8;
                }
                input::-webkit-input-placeholder {
                    color: #d1dad8;
                    font-size: 14px;
                }
                border:1px solid;
                border-color: #d1dad8;
            }
            button{
                margin-top: 20px;
                color: #fff;
            }
            a{
                margin-top: 20px;
                color: #d1d1d1!important;
            }
        }
    }
}
